<div>
  <form method="POST">
      <fieldset name="product">
        <legend><b> Produto </b></legend>
        <div class="field">
          <label class="label">Nome</label>
          <div class="control">
            <input id="name" class="input" type="text" placeholder="Nome" required [(ngModel)]="product.name" name="name">
          </div>

        </div>
        <div class="field">
          <label class="label">Valor</label>
          <div class="control">
            <input id="value" class="input" type="text" placeholder="Valor" required [(ngModel)]="product.value" name="value">
          </div>
        </div>
      </fieldset>
      <br>
      <div class="field is-grouped is-grouped-right">
          <div class="buttons">
            <button class="button is-primary" (click)="save()" type="submit" >
              Gravar
            </button>

            <button class="button is-light" (click)="cancel()" type="reset" >
              Cancelar
            </button>
          </div>
      </div>
  </form>
</div>
