<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <aside class="menu">
    <p class="menu-label">
      Geral
    </p>
    <ul [ngClass]="isActive()" class="menu-list">
      <li><a href="/home">Dashboard</a></li>
    </ul>
    <p [ngClass]="isActive()" class="menu-label">
      Administração
    </p>
    <ul class="menu-list">
      <!-- <li>
        <a [ngClass]="isActive()">Usuário</a>
        <ul> -->
          <li><a href="/user">Usuários</a></li>
          <!-- <li><a>Adicionar Usuário</a></li>
        </ul>
      </li> -->
    </ul>
    <p class="menu-label">
      Gestão
    </p>
    <ul [ngClass]="isActive()" class="menu-list">
      <li><a href="/client">Clientes</a></li>
      <li><a href="/product">Produtos</a></li>
      <li><a href="/request">Pedidos</a></li>
    </ul>
  </aside>
</div>
